services:
  strands-agents:
    build:
      context: .
    tty: true
    volumes:
      - .:/app
    ports:
      - "9000:9000"
    command: sh -c "npx -y tsx src/index.ts"
    env_file:
      - .env

networks:
  app-network:
    external: true # Use an existing network named 'app-network'